.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}


.single-card {
  border-bottom: 1px solid #eee;
  padding-bottom: 30px;
}
.tab-pane .single-card,
.panel-body .single-card {
  border-bottom: 0;
  padding-bottom: 0;
}

.panel-title a:before {
  font-family: 'ua-brand-symbols';
  float: right;
}
.panel-title a[aria-expanded="true"]:before {
 content: "\e631";
}
.panel-title a[aria-expanded="false"]:before {
  content: "\e62d";
}

.sasg-tabs .nav-tabs {
  border-bottom: 2px solid #0c234b;
}
.sasg-tabs .nav-tabs>li {
  background: #e6f6f9;
  border-left: 2px solid #fff;
  margin-bottom: 0;
  text-transform: uppercase;
}
.sasg-tabs .nav-tabs>li:first-child {
  border-left: 0 none;
}
.sasg-tabs .nav-tabs>li a {
  border: 0;
  margin: 0;
  padding: 1rem 1.75rem;
}
.sasg-tabs .nav-tabs>li a:hover {
  background: #d0eef4;
}
.sasg-tabs .nav-tabs>li.active a:hover {
  background: #0c234b;
  color: #fff;
}
.sasg-tabs .tab-pane {
  background: #f8f8f8;
  padding: 1.5rem;
}
