.stat-item {
  padding: 2rem;
  text-align: center;
}
.stat-item span {
  color: #ab0520;
  display: block;
  font-size: 3.5rem;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 1rem;
}
.stat-item p {
  color: #003e7e;
  font-size: 1.125rem;
  font-weight: bold;
  line-height: 1.1;
}
.owl-carousel {
  padding: 0 3.5rem;
}
.owl-prev,
.owl-next {
  background: #003e7e;
  border-radius: 50%;
  color: rgba(255,255,255,.9); 
  height: 42px;
  overflow: hidden;
  padding: 42px 0 0 42px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 42px;
}
.owl-prev:after,
.owl-next:after {
  font-family: 'ua-brand-symbols';
  font-size: 1.25rem;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.owl-prev:hover,
.owl-next:hover {
  background: #0c234b;
  color: rgba(255,255,255,1); 
}
.owl-prev {
  left: .5rem;
}
.owl-prev:after {
  content: "\e641";
}
.owl-next {
  right: .5rem;
}
.owl-next:after {
  content: "\e637";
}
