.partner-logo a {
  border: 1px solid #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  padding: 1rem;
}
.partner-logo a:hover {
  border: 1px solid #7b89ae;
}

@media (min-width:768px) {
  .partner-logo a {
    min-height: 182px;
  }
  .partner-logo img {
    margin:0 auto;
  }
}
@media (min-width:768px) and (max-width:992px) {
  .partner-logo:nth-child(2n+1) {
    clear:left;
  }
}
@media (min-width:992px) {
  .partner-logo:nth-child(4n+1) {
    clear:left;
  }
}