.photo-grid-caption {
  max-width: 480px;
  padding: .25rem .5rem .375rem;
}
.photo-grid-item-content {
  margin: 1px;
}
.photo-grid-item a,
.photo-single a {
  display: block;
  max-width: 480px;
  position: relative;
}
.photo-grid-item a::before,
.photo-single a::before {
  background: rgba(12,35,75,.7);
  color: #fff;
  display: block;
  padding: .375rem;
  position: absolute;
  font-family: 'ua-brand-symbols';
  font-size: 1.375rem;
  line-height: 1;
  content: "\e621";
  top: 1rem;
  left: 1rem;
  z-index: 20;
  transition: all 0.2s ease-in-out;
}
.photo-grid-item a:hover::before,
.photo-single a:hover::before {
  background: rgba(12,35,75,1);
  font-size:2.75rem;
}
@media (min-width:768px) and (max-width:992px) {
  .photo-grid-item:nth-child(2n+1) {
    clear:left;
  }
}
@media (min-width:992px) {
  .photo-grid-item:nth-child(3n+1) {
    clear:left;
  }
}
